<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div class="header">
        <h1>Weather App</h1>
   </div>


    <div class="page-content">
        @RenderBody()
    </div>


    <div class="footer-content">
        <p>by Raidy Raul Brito Reyes</p>
        <p>809-689-8992</p>
    </div>
</body>
</html>
