@model CityWheater

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Weather Details";
}
<div class="container text-center mt-5">
    <div class="card mb-3 mx-auto margin-top-200" style="max-width: 540px;">
        <div class="row g-0">

            <div class="col-md-4">
                <img src="~/img/@(Model.CityUniqueCode).jpg"
                     class="img-fluid rounded-start"
                     alt="@Model.CityName">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.CityName</h5>

                    <p class="card-text">
                        @Model.DateAndTime.Value.ToString("yyyy-dd-M HH:mm")
                    </p>

                    <p class="card-text">
                        <small class="text-body-secondary">
                            @Model.Temperature ºF
                        </small>
                    </p>

                    <a href="/" class="card-link">Back to home</a>
                </div>
            </div>

        </div>
    </div>
</div>

@section footerDetails{
    <div class="footer-content">
        <h3>Details footer to practice Sections</h3>
        <h4>How to render a particular section in c# asp.net</h4>
    </div>
}